* {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
input,
a {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 600px) {
}

.photo-container > div {
  border-radius: 10px;
  margin-bottom: 2rem;
  position: relative;
}

.photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.delete-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 3;
}

.photo-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  color: #fff;
}

.modal {
  z-index: 5;
}
